<a href="https://colab.research.google.com/github/suwitchaya17/seminar/blob/main/ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
import os

In [67]:
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [68]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/seminar'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [69]:
data = os.path.join(path,'RFM_kmeans.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data)

/content/drive/My Drive/seminar/RFM_kmeans.xlsx

In [70]:
data_ex = pd.read_excel(data) 
data_ex

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850,United Kingdom
3,536366,22633,HAND WARMER UNION JACK,6,2010-01-12 08:28:00,1.85,17850,United Kingdom
4,536366,22632,HAND WARMER RED POLKA DOT,6,2010-01-12 08:28:00,1.85,17850,United Kingdom
5,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-01-12 08:34:00,9.95,13047,United Kingdom
6,536367,21754,HOME BUILDING BLOCK WORD,3,2010-01-12 08:34:00,5.95,13047,United Kingdom
7,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-01-12 08:34:00,4.95,13047,United Kingdom
8,536369,21756,BATH BUILDING BLOCK WORD,3,2010-01-12 08:35:00,5.95,13047,United Kingdom
9,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-01-12 08:45:00,2.95,12583,France
10,536370,22629,SPACEBOY LUNCH BOX,24,2010-01-12 08:45:00,1.95,12583,France
11,536370,22659,LUNCH BOX I LOVE LONDON,24,2010-01-12 08:45:00,1.95,12583,France
12,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-01-12 09:00:00,2.55,13748,United Kingdom
13,536372,22632,HAND WARMER RED POLKA DOT,6,2010-01-12 09:01:00,1.85,17850,United Kingdom
14,536372,22633,HAND WARMER UNION JACK,6,2010-01-12 09:01:00,1.85,17850,United Kingdom
15,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-01-12 09:02:00,2.55,17850,United Kingdom
16,536373,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 09:02:00,3.39,17850,United Kingdom
17,536373,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 09:02:00,3.39,17850,United Kingdom
18,536373,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-01-12 09:02:00,7.65,17850,United Kingdom
19,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-01-12 09:02:00,4.25,17850,United Kingdom
20,536374,21258,VICTORIAN SEWING BOX LARGE,32,2010-01-12 09:09:00,10.95,15100,United Kingdom
21,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 09:32:00,2.55,17850,United Kingdom
22,536375,71053,WHITE METAL LANTERN,6,2010-01-12 09:32:00,3.39,17850,United Kingdom
23,536375,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 09:32:00,2.75,17850,United Kingdom
24,536375,20679,EDWARDIAN PARASOL RED,6,2010-01-12 09:32:00,4.95,17850,United Kingdom
25,536375,37370,RETRO COFFEE MUGS ASSORTED,6,2010-01-12 09:32:00,1.06,17850,United Kingdom
26,536375,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,2010-01-12 09:32:00,1.06,17850,United Kingdom
27,536375,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-01-12 09:32:00,4.95,17850,United Kingdom
28,536375,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,2010-01-12 09:32:00,6.95,17850,United Kingdom
29,536375,82482,WOODEN PICTURE FRAME WHITE FINISH,6,2010-01-12 09:32:00,2.10,17850,United Kingdom
30,536375,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-01-12 09:32:00,7.65,17850,United Kingdom
31,536375,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-01-12 09:32:00,4.25,17850,United Kingdom
32,536376,22114,HOT WATER BOTTLE TEA AND SYMPATHY,48,2010-01-12 09:32:00,3.45,15291,United Kingdom
33,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-01-12 09:32:00,2.55,15291,United Kingdom
34,536377,22632,HAND WARMER RED POLKA DOT,6,2010-01-12 09:34:00,1.85,17850,United Kingdom
35,536377,22633,HAND WARMER UNION JACK,6,2010-01-12 09:34:00,1.85,17850,United Kingdom
36,536378,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,2010-01-12 09:37:00,1.95,14688,United Kingdom
37,536380,22961,JAM MAKING SET PRINTED,24,2010-01-12 09:41:00,1.45,17809,United Kingdom
38,536381,21166,COOK WITH WINE METAL SIGN,1,2010-01-12 09:41:00,1.95,15311,United Kingdom
39,536381,22644,CERAMIC CHERRY CAKE MONEY BANK,1,2010-01-12 09:41:00,1.45,15311,United Kingdom
40,536381,21533,RETROSPOT LARGE MILK JUG,1,2010-01-12 09:41:00,4.95,15311,United Kingdom
41,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,2010-01-12 09:41:00,6.75,15311,United Kingdom
42,536382,22926,IVORY GIANT GARDEN THERMOMETER,12,2010-01-12 09:45:00,5.95,16098,United Kingdom
43,536382,22839,3 TIER CAKE TIN GREEN AND CREAM,2,2010-01-12 09:45:00,14.95,16098,United Kingdom
44,536382,22838,3 TIER CAKE TIN RED AND CREAM,2,2010-01-12 09:45:00,14.95,16098,United Kingdom
45,536382,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-01-12 09:45:00,16.95,16098,United Kingdom
46,536384,82484,WOOD BLACK BOARD ANT WHITE FINISH,3,2010-01-12 09:53:00,6.45,18074,United Kingdom
47,536384,84755,COLOUR GLASS T-LIGHT HOLDER HANGING,48,2010-01-12 09:53:00,0.65,18074,United Kingdom
48,536384,22464,HANGING METAL HEART LANTERN,12,2010-01-12 09:53:00,1.65,18074,United Kingdom
49,536384,21324,HANGING MEDINA LANTERN SMALL,6,2010-01-12 09:53:00,2.95,18074,United Kingdom

In [71]:
data1 =  data_ex.dropna()
data1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850,United Kingdom
3,536366,22633,HAND WARMER UNION JACK,6,2010-01-12 08:28:00,1.85,17850,United Kingdom
4,536366,22632,HAND WARMER RED POLKA DOT,6,2010-01-12 08:28:00,1.85,17850,United Kingdom
5,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-01-12 08:34:00,9.95,13047,United Kingdom
6,536367,21754,HOME BUILDING BLOCK WORD,3,2010-01-12 08:34:00,5.95,13047,United Kingdom
7,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-01-12 08:34:00,4.95,13047,United Kingdom
8,536369,21756,BATH BUILDING BLOCK WORD,3,2010-01-12 08:35:00,5.95,13047,United Kingdom
9,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-01-12 08:45:00,2.95,12583,France
10,536370,22629,SPACEBOY LUNCH BOX,24,2010-01-12 08:45:00,1.95,12583,France
11,536370,22659,LUNCH BOX I LOVE LONDON,24,2010-01-12 08:45:00,1.95,12583,France
12,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-01-12 09:00:00,2.55,13748,United Kingdom
13,536372,22632,HAND WARMER RED POLKA DOT,6,2010-01-12 09:01:00,1.85,17850,United Kingdom
14,536372,22633,HAND WARMER UNION JACK,6,2010-01-12 09:01:00,1.85,17850,United Kingdom
15,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-01-12 09:02:00,2.55,17850,United Kingdom
16,536373,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 09:02:00,3.39,17850,United Kingdom
17,536373,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 09:02:00,3.39,17850,United Kingdom
18,536373,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-01-12 09:02:00,7.65,17850,United Kingdom
19,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-01-12 09:02:00,4.25,17850,United Kingdom
20,536374,21258,VICTORIAN SEWING BOX LARGE,32,2010-01-12 09:09:00,10.95,15100,United Kingdom
21,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 09:32:00,2.55,17850,United Kingdom
22,536375,71053,WHITE METAL LANTERN,6,2010-01-12 09:32:00,3.39,17850,United Kingdom
23,536375,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 09:32:00,2.75,17850,United Kingdom
24,536375,20679,EDWARDIAN PARASOL RED,6,2010-01-12 09:32:00,4.95,17850,United Kingdom
25,536375,37370,RETRO COFFEE MUGS ASSORTED,6,2010-01-12 09:32:00,1.06,17850,United Kingdom
26,536375,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,2010-01-12 09:32:00,1.06,17850,United Kingdom
27,536375,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-01-12 09:32:00,4.95,17850,United Kingdom
28,536375,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,2010-01-12 09:32:00,6.95,17850,United Kingdom
29,536375,82482,WOODEN PICTURE FRAME WHITE FINISH,6,2010-01-12 09:32:00,2.10,17850,United Kingdom
30,536375,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-01-12 09:32:00,7.65,17850,United Kingdom
31,536375,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-01-12 09:32:00,4.25,17850,United Kingdom
32,536376,22114,HOT WATER BOTTLE TEA AND SYMPATHY,48,2010-01-12 09:32:00,3.45,15291,United Kingdom
33,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-01-12 09:32:00,2.55,15291,United Kingdom
34,536377,22632,HAND WARMER RED POLKA DOT,6,2010-01-12 09:34:00,1.85,17850,United Kingdom
35,536377,22633,HAND WARMER UNION JACK,6,2010-01-12 09:34:00,1.85,17850,United Kingdom
36,536378,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,2010-01-12 09:37:00,1.95,14688,United Kingdom
37,536380,22961,JAM MAKING SET PRINTED,24,2010-01-12 09:41:00,1.45,17809,United Kingdom
38,536381,21166,COOK WITH WINE METAL SIGN,1,2010-01-12 09:41:00,1.95,15311,United Kingdom
39,536381,22644,CERAMIC CHERRY CAKE MONEY BANK,1,2010-01-12 09:41:00,1.45,15311,United Kingdom
40,536381,21533,RETROSPOT LARGE MILK JUG,1,2010-01-12 09:41:00,4.95,15311,United Kingdom
41,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,2010-01-12 09:41:00,6.75,15311,United Kingdom
42,536382,22926,IVORY GIANT GARDEN THERMOMETER,12,2010-01-12 09:45:00,5.95,16098,United Kingdom
43,536382,22839,3 TIER CAKE TIN GREEN AND CREAM,2,2010-01-12 09:45:00,14.95,16098,United Kingdom
44,536382,22838,3 TIER CAKE TIN RED AND CREAM,2,2010-01-12 09:45:00,14.95,16098,United Kingdom
45,536382,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-01-12 09:45:00,16.95,16098,United Kingdom
46,536384,82484,WOOD BLACK BOARD ANT WHITE FINISH,3,2010-01-12 09:53:00,6.45,18074,United Kingdom
47,536384,84755,COLOUR GLASS T-LIGHT HOLDER HANGING,48,2010-01-12 09:53:00,0.65,18074,United Kingdom
48,536384,22464,HANGING METAL HEART LANTERN,12,2010-01-12 09:53:00,1.65,18074,United Kingdom
49,536384,21324,HANGING MEDINA LANTERN SMALL,6,2010-01-12 09:53:00,2.95,18074,United Kingdom

In [72]:
data1['Amount']=data1['Quantity']*data1['UnitPrice']
monetary = data1.groupby('CustomerID')['Amount'].sum()
monetary = monetary.reset_index()
monetary

    CustomerID  Amount
0        12583  164.40
1        13047   70.45
2        13748  204.00
3        14688   19.50
4        15100  350.40
5        15291  328.80
6        15311   75.85
7        16098  199.00
8        17809   34.80
9        17850  412.18
10       18074   88.05

In [73]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    50 non-null     int64
 1   StockCode    50 non-null     object
 2   Description  50 non-null     object
 3   Quantity     50 non-null     int64
 4   InvoiceDate  50 non-null     datetime64[ns]
 5   UnitPrice    50 non-null     float64
 6   CustomerID   50 non-null     int64
 7   Country      50 non-null     object
 8   Amount       50 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 3.9+ KB

In [74]:
data1.describe()

           InvoiceNo   Quantity  UnitPrice    CustomerID      Amount
count      50.000000  50.000000  50.000000     50.000000   50.000000
mean   536374.780000  11.660000   4.376600  16520.920000   38.948600
std         5.552312  16.329028   3.672851   1878.595957   60.742114
min    536365.000000   1.000000   0.650000  12583.000000    1.450000
25%    536371.250000   3.250000   1.950000  15311.000000   13.162500
50%    536375.000000   6.000000   2.950000  17850.000000   19.850000
75%    536379.500000   9.500000   5.700000  17850.000000   29.900000
max    536384.000000  80.000000  16.950000  18074.000000  350.400000

# Frequency

In [75]:
Frequency = data1.groupby('CustomerID')['InvoiceNo'].count()
Frequency = Frequency.reset_index()
Frequency

    CustomerID  InvoiceNo
0        12583          3
1        13047          4
2        13748          1
3        14688          1
4        15100          1
5        15291          2
6        15311          4
7        16098          4
8        17809          1
9        17850         25
10       18074          4

In [76]:
data1['InvoiceDate'] = pd.to_datetime(data1['InvoiceDate'],format='%Y-%m-%d %H:%M')

data1['Diff'] = max(data1['InvoiceDate']) - data1['InvoiceDate']
recency = data1.groupby('CustomerID')['Diff'].min()

recency = recency.reset_index()
recency.head()

   CustomerID            Diff
0       12583 0 days 01:08:00
1       13047 0 days 01:18:00
2       13748 0 days 00:53:00
3       14688 0 days 00:16:00
4       15100 0 days 00:44:00

In [77]:
recency

    CustomerID            Diff
0        12583 0 days 01:08:00
1        13047 0 days 01:18:00
2        13748 0 days 00:53:00
3        14688 0 days 00:16:00
4        15100 0 days 00:44:00
5        15291 0 days 00:21:00
6        15311 0 days 00:12:00
7        16098 0 days 00:08:00
8        17809 0 days 00:12:00
9        17850 0 days 00:19:00
10       18074 0 days 00:00:00

In [78]:
recency['Diff'] = recency['Diff'].dt.days
recency.head()

   CustomerID  Diff
0       12583     0
1       13047     0
2       13748     0
3       14688     0
4       15100     0

In [80]:
rfm = pd.merge(recency, Frequency, on='CustomerID', how='inner')

In [81]:
rfm = pd.merge(rfm, monetary, on='CustomerID', how='inner')

In [83]:
rfm.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']

In [84]:
rfm

    CustomerID  Recency  Frequency  Monetary
0        12583        0          3    164.40
1        13047        0          4     70.45
2        13748        0          1    204.00
3        14688        0          1     19.50
4        15100        0          1    350.40
5        15291        0          2    328.80
6        15311        0          4     75.85
7        16098        0          4    199.00
8        17809        0          1     34.80
9        17850        0         25    412.18
10       18074        0          4     88.05

In [85]:
scaler = StandardScaler()
rfm_normalized = rfm[['Monetary', 'Frequency', 'Recency']]
rfm_normalized

    Monetary  Frequency  Recency
0     164.40          3        0
1      70.45          4        0
2     204.00          1        0
3      19.50          1        0
4     350.40          1        0
5     328.80          2        0
6      75.85          4        0
7     199.00          4        0
8      34.80          1        0
9     412.18         25        0
10     88.05          4        0

In [86]:
rfm_normalized = scaler.fit_transform(rfm_normalized)
rfm_normalized = pd.DataFrame(rfm_normalized)
rfm_normalized

           0         1    2
0  -0.097641 -0.234266  0.0
1  -0.823433 -0.082682  0.0
2   0.208281 -0.537433  0.0
3  -1.217037 -0.537433  0.0
4   1.339265 -0.537433  0.0
5   1.172398 -0.385849  0.0
6  -0.781716 -0.082682  0.0
7   0.169655 -0.082682  0.0
8  -1.098840 -0.537433  0.0
9   1.816534  3.100574  0.0
10 -0.687467 -0.082682  0.0

In [87]:
kmeans = KMeans(n_clusters=4, max_iter=50)
kmeans.fit(rfm_normalized)

KMeans(max_iter=50, n_clusters=4)

In [88]:
ssd = []
range_n_clusters = [2, 3, 4, 5, 6, 7, 8]
for num_clusters in range_n_clusters:
    kmeans = KMeans(n_clusters=num_clusters, max_iter=50)
    kmeans.fit(rfm_normalized)

    ssd.append(kmeans.inertia_)

# Silhouette Analysis

In [91]:
for num_clusters in range_n_clusters:

    kmeans = KMeans(n_clusters=num_clusters, max_iter=50)
    kmeans.fit(rfm_normalized)

    cluster_labels=kmeans.labels_

    silhouette_avg = silhouette_score(rfm_normalized, cluster_labels)
    print("clusters ={0} silhouette score = {1}".format(num_clusters, silhouette_avg))

clusters =2 silhouette score = 0.6524123841625001
clusters =3 silhouette score = 0.4979216774320463
clusters =4 silhouette score = 0.5913140214526887
clusters =5 silhouette score = 0.6736754722158717
clusters =6 silhouette score = 0.5766543000157962
clusters =7 silhouette score = 0.5196834187745512
clusters =8 silhouette score = 0.37698511959240516

In [94]:
kmeans = KMeans(n_clusters=3,max_iter=50)
kmeans.fit(rfm_normalized)

KMeans(max_iter=50, n_clusters=3)

In [97]:
rfm_normalized.loc[:,'CustomerID']=rfm['CustomerID']

In [98]:
rfm_normalized

           0         1    2  CustomerID
0  -0.097641 -0.234266  0.0       12583
1  -0.823433 -0.082682  0.0       13047
2   0.208281 -0.537433  0.0       13748
3  -1.217037 -0.537433  0.0       14688
4   1.339265 -0.537433  0.0       15100
5   1.172398 -0.385849  0.0       15291
6  -0.781716 -0.082682  0.0       15311
7   0.169655 -0.082682  0.0       16098
8  -1.098840 -0.537433  0.0       17809
9   1.816534  3.100574  0.0       17850
10 -0.687467 -0.082682  0.0       18074

In [99]:
rfm_normalized['cluster']=kmeans.labels_
rfm_normalized

           0         1    2  CustomerID  cluster
0  -0.097641 -0.234266  0.0       12583        1
1  -0.823433 -0.082682  0.0       13047        0
2   0.208281 -0.537433  0.0       13748        1
3  -1.217037 -0.537433  0.0       14688        0
4   1.339265 -0.537433  0.0       15100        1
5   1.172398 -0.385849  0.0       15291        1
6  -0.781716 -0.082682  0.0       15311        0
7   0.169655 -0.082682  0.0       16098        1
8  -1.098840 -0.537433  0.0       17809        0
9   1.816534  3.100574  0.0       17850        2
10 -0.687467 -0.082682  0.0       18074        0

# แบ่งเป็น 3 กลุ่ม

##R

In [101]:
sns.boxplot(x='cluster',y='Recency',data=rfm_normalized)

ValueError: ignored

## F

In [102]:
sns.boxplot(x='cluster',y='Frequency',data=rfm_normalized)

ValueError: ignored

## M

In [103]:
sns.boxplot(x='cluster',y='Monetary',data=rfm_normalized)

ValueError: ignored